In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report

In [2]:
dataset=pd.read_csv('/content/sample_data/insurance.csv')

In [4]:
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [78]:
dataset['sex'].replace('female',0,inplace=True)
dataset['sex'].replace('male',1,inplace=True)
dataset['smoker'].replace('no',0,inplace=True)
dataset['smoker'].replace('yes',1,inplace=True)
dataset['region'].replace('northwest',0,inplace=True)
dataset['region'].replace('southeast',1,inplace=True)
dataset['region'].replace('southwest',3,inplace=True)
dataset['region'].replace('northeast',2,inplace=True)

In [79]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,:1].values

In [80]:
x

array([[19.  ,  0.  , 27.9 ,  0.  ,  1.  ,  1.  ],
       [18.  ,  1.  , 33.77,  1.  ,  0.  ,  1.  ],
       [28.  ,  1.  , 33.  ,  3.  ,  0.  ,  1.  ],
       ...,
       [18.  ,  0.  , 36.85,  0.  ,  0.  ,  1.  ],
       [21.  ,  0.  , 25.8 ,  0.  ,  0.  ,  1.  ],
       [61.  ,  0.  , 29.07,  0.  ,  1.  ,  0.  ]])

In [81]:
y

array([[19],
       [18],
       [28],
       ...,
       [18],
       [21],
       [61]])

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [96]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train,y_train)

StandardScaler()

In [76]:
from sklearn.linear_model import LinearRegression

In [84]:
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [85]:
y_pred=regressor.predict(x_test)

In [101]:
print(regressor.intercept_)

[-3.55271368e-14]

In [ ]:
plt.scatter(x_train, y_train, color = 'red')
plt.plot(x_train, regressor.predict(x_train), color = 'blue')

In [100]:
print("training accuracy",confusion_matrix(y_true=y_train,y_pred=regressor.predict(x_train)))
print("testing accuracy",accuracy_score(y_true=y_train,y_pred=y_pred))

TypeError: ignored

In [ ]:
print("training accuracy",confusion_matrix(y_true=y_train,Y_pred=regressor.predict(X_train)))
print("testing accuracy",confusion_matrix(y_true=y_train,Y_pred=y_pred))